

/* Global Styles  */


* {
	
	margin: auto;
	font-family: "Merriweather", serif;
	font-size: 14px;
	line-height: 1.8;
	padding-left: 0;
	list-style: none;	
}



/*         HEADER         */

.header {

	height: 80px;
	width: 100%;
	text-align: center;
	color: white;
	background-color: #2D3945;
	margin-bottom: 1.5em;
}

.header h2 {

	font-size: 19px;
	display: block;
	margin: 0;
	padding-top: 30px;
}

.header_presentation {

	text-align: center;
	margin: 0 auto;
	width: 90%;
	padding-bottom: 1.5em;
	border-bottom: solid #2D3945;
	border-width: 5px;

}

.header_presentation h2 {

	color: #2D3945;
	margin-bottom: 10px;
}

.header_presentation p {

	line-height: 1.4;
	color: #BEC2C5;
	font-size: 14px;
}


/* Emptpy Paragraph to separate borders */

.empty {

	max-height: 3px;
	width: 100%;
}

/*            FORM          */

.form {

	color: #6E7D8D;
	border-top: solid #2D3945;
	border-width: 2px;
	width: 90%;
}

form input, select {

	width: 96%;
	border-style: none;
	display: block;
	background-color: #EFF0F1;

}

form input, form select {

	min-height: 40px;
	border-radius: 5px;
}

.zip_code {

	width: 45%;
}

fieldset {

	border-style: none;
}

/* Required text from Input */

.required {

	text-align: right;
	font-style: italic;
	font-size: 12px;
}

.required:focus {


	text-align: left;
}

.form legend {

	padding-top: 2em;
	font-weight: 700;
	color: #2D3945;
	margin-left: 10px;
	text-align: left;
	width: 90%;
}

.newsletter {

	margin-bottom: 20px;
	width: 100%;

}

.newsletter_p {

	width: 80%;	
}

/*   Styling the Checkboxes   */


.checkbox_div {

	max-height: 50px;
}

.checkbox_div input {

	float: left;
	width:40%;
}

/*   Checkbox label   */

.html_news, .css_news, .javascript_news{

	padding-left: 10px;
	width: 40%;
}

/* Reset of Checkbox / Radio buttons styles */

input[type='checkbox'], input[type='radio'] {

	animation : none;
    animation-direction : normal;

    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
  
 
    background-size : auto auto;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;


    column-width : auto;
    content : normal;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;

    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;

    width : auto;
    word-spacing : normal;
    z-index : auto;
}

/*   Styling Checkbox buttons after reset  */

input[type='checkbox'] {

	display: inline-block;
	float: left;
	background-color: #EFF0F1;
	border-style: none;
}

input[type='checkbox']:checked {

	color: #758fc9;
}

/* Styling Radio buttons after reset */

input[type='radio'] {

	display: inline-block;
	float: left;
	background-color: #EFF0F1;
	border-style: none;
}


.newsletter_format {

	display: block;
	width:100%;
	margin-top: 20px;
}

/* Comments for the user to leave */

#comments_section {

	display: inline-block;
	padding-bottom: 20px;
}


#comments {

	border-radius: 3px;
	min-height: 100px;
	margin: auto;
	width: 90%;
	border-style: none;
	background-color: #EFF0F1;
}
 
.radio_list {

	padding-left: 0;
	list-style: none;
	width: 100%;
}

.radio_div {

	float: left;
	width: 51%;
	display: block;
}


/*      Newsletter format   Labels          */

.newsletter_format_html, .newsletter_format_text {
	

	margin: auto;
}

 /*       Newsletter format input            */

#newsletter_format_html, #newsletter_format_text {

	float: left;
	width:20%;}


/*            FOOTER          */


footer {

	width: 90%;
}



/*    Submit button style    */

.submit {

	min-height: 3.3em;
  border-radius: 5px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #4EBBB5;
  text-decoration: none;
  width: 100%;
  margin: auto;
}

.submit:hover {
  text-decoration: none;
}


/* Copyright  */

.copyright {

	text-align: center;
	margin-top: 1.6em;
	color: #BEC2C5;
	width: 80%;
	font-size: 15px; 
	font-style: italic;
	margin-bottom: 1.5em;
}




/* Media Query for Tablets users */

@media only screen and ( max-width: 768px), only screen and (min-width: 700px) and (orientation: landscape){







}




/* Media Query for Desktop users   */

@media only screen and (min-width: 1024px) {

* {


}

body {

	margin: 0;
	padding: 0;
	max-width: 3600px;
}

/*      HEADER     */

.header {


}

.header_presentation, .info, .empty, .form, footer {

	max-width: 1024px;
	margin: auto;
}

.header_presentation h2 {

	font-size: 20px;
}

/*     Contact Info list styling     */ 

.info_list {

	padding-left: 0;
	list-style: none;	
}

/*   Contact Info list items styling   */


.info_list_item {

	margin-bottom: 30px;
}

.info input, select {

	float: right;
	width: 80%;
}

.info label {
	
	width:20%;
}



.zip_code {

	float: none;
	max-width: 150px;
}

.zip_code_label {

	float: left;
	margin: 0;
}



#comments_section {

	margin-top: 20px;
	width: 80%;
}





}